:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: var(--foreground);
  background-color: var(--background);
  text-align: center;
  line-height: 1.4em;
}

main {
  padding: 0;
  margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

li {
  margin-bottom: 1em;
  text-align: start;
}

a {
  color: #2574a9;
}

form {
  margin: 10px auto;
  padding: 20px;
  max-width: 600px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type='text'] {
  width: 220px;
  text-align: center;
  background-color: var(--background);
  color: var(--foreground);
}

ol {
  width: 600px;
  margin: auto;
}
